*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
header{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    width: 100%;
    height: 70px;
    background-color: black;
    font-size: 14px;
}
.head-icon{
    background-color: #4a4a4a;
    border-radius: 6px;
    padding: 5px 6px;
    color: white;
    margin-top: 5px;
    margin-right: 5px;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    height: calc(100vh - 140px);
    background-color: black;
}
.user{
    background-image: url(../img/image.jpg);;
    color: white;
    display: flex;
    align-items: flex-end;
    height: 146px;
    width: 246px;
    margin: 3px;
}
.user-name{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px;
}
footer{
    height: 70px;
    background-color: tan;
}